body{
    background-color: pink;
    font-family: monospace;
    box-sizing: border-box;
} 


.food {
    font-size: 24px;
}


h1{
    text-align: left;
    color: black;
    background-color: thistle;
    border: 2px bisque outset;
    display: inline-block;
}

.food-box {
    border: 5px outset;
    border-color: bisque;
    margin-top: 100px;
    background-color: thistle;
}

ul li {
    list-style-type: none;
    margin: 0px auto;
    text-align: center;
    line-height: 48px;
    color: antiquewhite;

}

/* list-style-type: none;  removes list bullet points */

a:link {
    font-weight: bold;
    color: black;
}


a:visited {
    color: darkslateblue;
}

a:hover {
    color: azure;
}



.context {
    background-color: thistle;
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    margin: 500px auto;
    border: 5px bisque outset;
    border-radius: 10px;
}





