body{background-color: pink; 
text-align: center;
margin: 16px auto;
} 


.food {
font-size: 24px;
}


h1{
    text-align: center;
    color: black;
    background-color: bisque;
    border: solid 2px black;
    margin: 16px auto;
    width: 20%;
    padding: 8px 4px;
}

ul li {
    list-style-type: none;
    text-align: center;
line-height: 48px;
color: antiquewhite;
width: 30%;
margin: 16px auto;
}

/* list-style-type: none;  removes list bullet points */

a:link {
font-weight: bold;
color: black;
}


a:visited {
    color: darkslateblue;
}

a:hover {
color: azure;
}



p {
    margin: 10px auto;
    text-align: center;
    width: 50%;

}





