body {
    background-color: pink;
    font-family: monospace;
    box-sizing: border-box;
} 

.cookie-box, .zeppole-box, .strawberry-shake-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: thistle;
    border: solid 5px bisque;
    height: 5rem;
    margin: auto 24rem 1rem;
    border-style: outset;
    flex: 1;
}

.cookie-link, .zeppole-link, .strawberry-shake-link {
    font-size: 24px;
    text-align: center;
}

.header-box {
    display: inline-flex;
    flex: 1;
    justify-content: start;
    background-color: thistle;
    border: solid 2px bisque;
    border-style: outset;
}

h1{
    color: black;
    background-color: thistle;
}

/* list-style-type: none;  removes list bullet points */

a:link {
    font-weight: bold;
    color: black;
}


a:visited {
    color: darkslateblue;
}

a:hover {
    color: azure;
}

.context-box {
    display: flex
    flex 1;
    justify-content: center;
    background-color: thistle;
    border: solid 5px bisque;
    border-style: outset;
    margin: 25rem 58rem;
}

.context {
    background-color: thistle;
    text-align: center;
    width: auto;
}





