body{
    background-color: pink;
} 


.food {
font-size: 24px;
}


h1{
    text-align: center;
    color: black;
    background-color: bisque;
    border: solid 2px black;
}

ul li {
    list-style-type: none;
    text-align: center;
line-height: 48px;
color: antiquewhite;

}

/* list-style-type: none;  removes list bullet points */

a:link {
font-weight: bold;
color: black;
}


a:visited {
    color: darkslateblue;
}

a:hover {
color: azure;
}



.context {
    box-sizing: border-box;
    text-align: center;
    width: 300px;
    margin: 0px 0px 0px 825px;
    border: 5px bisque outset;
    border-radius: 10px;
}





