body {
    height: 100vh;
    background-color: lightskyblue;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    overflow: scroll;
    font-family: monospace;
    color: #3E424B;
}

.top-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 7rem;
}

.header {
    background-color: lightgrey;
    width: 16rem;
    height: 5rem;
    border: solid 5px lightgrey;
    border-style: outset;
    text-align: center;
    font-size: 15px;
}

.mid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 55rem;
}

.content-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lightgrey;
    border: solid 5px lightgrey;
    border-style: outset;
    width: 45rem;
    height: 55rem;
    gap: 2rem;
    justify-content: space-around;
}

.item-one {
    background-color: antiquewhite;
    border: solid 3px lightgrey;
    border-style: inset;
    text-align: center;
    align-content: center;
    width: 30rem;
    height: 7rem;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

.item-two, .item-three, .item-four {
    background-color: antiquewhite;
    border: solid 3px lightgrey;
    border-style: inset;
    width: 30rem;
    height: 8rem;
    align-content: center;
    font-size: 20px;
    padding-left: 8px;
    
}

.info-box {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    background-color: lightgrey;
    border: solid 5px lightgrey;
    border-style: outset;
    width: 15rem;
    height: 55rem;
}

.info {
    background-color: antiquewhite;
    border: solid 3px lightgrey;
    border-style: inset;
    margin: 1rem;
    padding: 3px;
    width: 13rem;
    height: 53rem;
}

.bottom-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 3rem;
}

.footer {
    flex-shrink: 1;
    background-color: lightgrey;
    border: solid 5px lightgray;
    border-style: outset;
    width: 100%;
}

.bottom-text {
    background-color: antiquewhite;
    border: solid 3px lightgrey;
    border-style: inset;
    width: auto;
    height: 2rem;
}

a:hover {
    color: skyblue;
}