body {
    background-color: pink;
}

h1 {
    text-align: center;
    background-color: bisque;
    border: solid 2px black;
}

img{
display: block;
margin: 0 auto;
}

a:link {
font-weight: bold;
color: black;
background-color: bisque;
}

a:visited {
    color: darkslateblue;
}







