body {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: skyblue;
    color: #3E424B;
    font-family: monospace;
}

.container-box {
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
}

.box-one, .box-two {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 45rem;
    height: 80%;
    background-color: lightgrey;
    border: solid 5px lightgrey;
    border-style: outset;
}

.box-one {
    flex-direction: column;
    justify-content: space-between;
}

.img-box {
    width: 50%;
    height: 50%;
    border: solid 3px lightgrey;
    border-style: inset;
}

.cookie-text {
    overflow: scroll;
    width: 98%;
    height: 17rem;
    border: solid 3px lightgrey;
    border-style: inset;
    padding: 3px;
    background-color: antiquewhite;
}

.box-two {
    flex-direction: column;
    justify-content: space-between;
}
    
.box-header {
    justify-items: center;
    width: 98%;
    height: 5rem;
    padding: 3px;
    border: solid 3px lightgrey;
    border-style: inset;
    background-color: antiquewhite;
}

.ingredients-list {
    width: 98%;
    height: 37rem;
    padding: 3px;
    border: solid 3px lightgrey;
    border-style: inset;
    background-color: antiquewhite;
}

li {
margin-bottom: 5rem;
}
