body {
    font-family: monospace;
    background-color: pink;
    box-sizing: border-box;
}

h1 { 
    border-style: outset;
    display: inline-block;
    text-align: left;
    background-color: thistle;
    border: solid 2px bisque;
}

img{
display: block;
margin: 0 auto;
}

a:link {
font-weight: bold;
color: black;
background-color: bisque;
}

a:visited {
    color: darkslateblue;
}